*{
    padding: 0px;
  
}

.container-fluid2{
    padding: 0px;
    background-image: url('http://cdn.wallpapersafari.com/55/23/tPClx0.jpg') ;
    top: 0px;
}


 #graph-container {

      top: 260px;
      bottom: 10px;
      left: 70px;
      right: 70px;
      position: absolute;
      
}


#buttons{
    display: block;
    text-align: center;
}

#graph{
    display: none;
}

.container-fluid2 h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Monoton', cursive;
    padding: 0px;
    color: white;
}
.container-fluid2 p{
    font-size: 18px;
    font-family: 'Audiowide', cursive;
    color: white;
}

#form {
    /*width: 200px;*/
    /*margin-left: 15px;*/
}

.results {
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    color: white;
    margin-top: 0px;
    display:none;
}

input{
   padding: 10px;
   margin-bottom: 20px;

}

.btn{
    padding: 11px;
    margin-bottom: 2px; 
}

.creatingMap {
    margin: 200px;
    text-align: center; 
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    display: none;
}
